body {
  padding-top: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eb6235+0,722f1a+69,110704+100 */
  background: #eb6235; /* Old browsers */
  background: -moz-linear-gradient(top,  #eb6235 0%, #722f1a 69%, #110704 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eb6235 0%,#722f1a 69%,#110704 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eb6235 0%,#722f1a 69%,#110704 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb6235', endColorstr='#110704',GradientType=0 ); /* IE6-9 */
}

table{
	background: #FFF;
	margin-top: 60px;
}

.nav li{
	cursor: pointer;
}

.navbar-default{
  background: #f96332;
  border: none;
}

.title{
  opacity: 0.9;
  color: #FFF;
  text-align: center;
  margin-top: 70px;
  font-size: 34px;
  margin-bottom: -50px;
  font-family: arial;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.dashboard{
  background: #FFF;
  height: 100%;
}

#loginbg{
  position: absolute;
  height: 100%;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #FFF !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #FFF !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFF !important;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 170px auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  border:none;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border:none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px;
  color:#FFF;
  font-size: 12px;
}
.form-signin input[type="password"] {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border:none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 20px;
  color:#FFF;
  font-size: 12px;
}

.get-start{
  background: #f96332;
  border:none;
  margin-top: 20px;
  border-radius: 40px;
  padding:20px;
  font-size: 12px;
}

.get-start:hover{
  background: #f96332;
}

.crt-acc, .crt-acc:hover{
  color: #FFF;
  margin-top: 20px;
  opacity: 0.5;
  font-size: 11px;
  display: block;
}







